.header{
      
    background-color:black;
    border:solid;
    display: flex;
    justify-content: center;
     }
     .menu{     
      padding: 10px;
      font-size: 20px;
      font-family: sans-serif;
      font-weight: 400;
      color: #000000;
     }
     .nothing{
       font-size: 50px;
     }
     .something{
      font-size: 25px;
    }
.body{
  margin: 10px;
  background-color: darkgreen;
}
  
  .grid {
    background: darkred;
    background-color: #F0F8FF;
    display: flex;
    justify-content: last baseline;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }
  
  .form {
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 190px;
    height: 300px;
    padding: 50px;
    background-color:#E8E5E4;
  }
  .form:hover{
    transform: scale(1.1);
  }
  .form {
    position: relative;
  }